/***********/
/* Header */
/* Container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color);
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.btn-sm {
  min-height: 3.5rem;
  height: 3.5rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-hover:hover {
  background-color: var(--bg-color-light);
  color: var(--txt-color-light);
}

.btn-secondary {
  background: transparent;
  opacity: 0.9;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .header-middle {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    position: absolute;
    background-color: var(--bg-color-dark);
    top: 6rem;
    left: 0;
    bottom: 0;
    height: 95vh;
    width: 30rem;
    margin-left: -30rem;
    padding: 3rem 0;
    transition: all 0.5s ease;
    z-index: 4;
  }

  .header-middle .btn-link {
    margin: 0 auto;
    width: 80%;
  }

  .show-sidenav {
    margin-left: 0;
  }

  .menu-icon {
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: none;
    border: none;
    margin-left: 3rem;
  }

  .menu-icon:active {
    background-color: var(--bg-color-light);
  }

  .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    visibility: hidden;
  }

  .show-backdrop {
    visibility: visible;
  }
}
