.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.btn-primary {
  background-color: var(--secondary-color);
}

.btn-primary:hover {
  opacity: 0.7;
  background-color: var(--secondary-color);
}
