.card .history-card-img {
  width: 38%;
  border-radius: 5px;
}

.videos-container .card {
  width: 100%;
}

.videos-container .card-horizontal {
  height: 15rem;
  min-width: 100%;
}

.history-card-title-container {
  justify-content: space-between;
}

.history-icon-container {
  gap: 1rem;
  height: min-content;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.hover-icon:hover {
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .videos-container .card-horizontal {
    height: 11rem;
    min-width: 100%;
  }

  .history-card-link .card-content .card-description {
    display: none;
  }

  .history-card-link .card-content .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5rem;
  }
}
