.watchlater-wrapper .remove-badge-container {
  position: relative;
  width: 25%;
}

.remove-badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
}

.remove-badge:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .watchlater-wrapper .remove-badge-container {
    width: 30%;
  }
}

@media screen and (max-width: 660px) {
  .watchlater-wrapper .remove-badge-container {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .watchlater-wrapper {
    padding: 1.5rem;
  }

  .watchlater-wrapper .remove-badge-container {
    width: 100%;
  }
}
