.videoplayer-wrapper {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.video-player {
  margin: 1rem;
  flex: 1;
}

.video-playlist {
  height: 73vh;
  overflow: hidden;
  overflow-y: auto;
}

.video-detail-header {
  justify-content: space-between;
}

.video-user-action {
  gap: 2rem;
}

.video-frame {
  height: 480px;
  width: 100%;
}

/* Utils */
.flex {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .video-playlist {
    width: 30%;
  }
}

@media screen and (max-width: 680px) {
  .videoplayer-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .video-frame {
    height: 320px;
    width: 100%;
  }

  .video-playlist {
    width: 100%;
    margin-bottom: 2rem;
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
  }

  .video-playlist .video-card-link {
    width: 33%;
  }
}

@media screen and (max-width: 480px) {
  .video-playlist .video-card-link {
    width: 50%;
  }

  .video-frame {
    height: 240px;
    width: 100%;
  }

  .video-detail-header {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .video-user-action {
    margin-top: 5px;
  }
}
