.videoplayer-wrapper {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.video-player {
  margin: 1rem;
}

.video-playlist {
  height: 73vh;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.video-detail-header {
  justify-content: space-between;
}

.video-user-action {
  gap: 2rem;
}

/* Utils */
.flex {
  display: flex;
}
