.wrapper {
  min-height: 100vh;
}

.category-container {
  padding: 1rem 3rem;
}

.category-card-container {
  display: flex;
  gap: 2rem;
  overflow: scroll;
}

.category-card-container::-webkit-scrollbar {
  display: none;
}
