.card-horizontal {
  height: 10rem;
  margin: 0;
  min-width: 44rem;
}

.card-img-horizontal {
  width: 15rem;
  object-fit: cover;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card-content-horizontal {
  padding-left: 1rem;
}

.card-content {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .video-player-card {
    margin-top: 2rem;
    width: 100%;
  }

  .video-player-card .card {
    width: 100%;
  }

  .video-player-card .card-horizontal {
    flex-direction: column;
    height: 100%;
    min-width: min-content;
    gap: 2rem;
  }

  .video-player-card .card-img-horizontal {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .video-player-card {
    width: 100%;
  }
}
