.video-card {
  display: flex;
  flex-direction: column;
}

.video-card:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.video-thumb {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.video-title {
  line-height: 2rem;
  height: 6rem;
  overflow: hidden;
}

.video-info-container {
  display: flex;
  justify-content: space-between;
}
