.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding-left: 8rem;
  padding-bottom: 5rem;
}

.video-genre {
  border-left: 3px solid var(--secondary-color);
  padding-left: 1rem;
}

.video-listing-header {
  display: flex;
  justify-content: space-between;
}

.btn-all-videos {
  border-right: 3px solid var(--bg-color);
}

.btn-all-videos:hover {
  border-right: 3px solid var(--secondary-color);
}

/* Modal */
.menu-modal {
  position: absolute;
  top: 18%;
  left: 5rem;
}

.menu-backdrop {
  background: transparent;
}

.menu-content {
  background-color: var(--bg-color-light);
  border-radius: 5px;
  height: 40rem;
}

.content-container {
  display: flex;
}

.category-menu-container {
  min-width: 20rem;
  height: 100%;
}

.category-item {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.category-item:hover {
  background-color: var(--secondary-color-light);
}

.search-container {
  margin-left: 15rem;
}
